footer.page-footer {
    z-index: 1000;
    background-color: whitesmoke;
}

@media (max-width: 280px) {
    .site-title {
        display: none;
    }
}

.nav-link {
    display: inline-block;
    padding: 2px 6px;

    &:hover {
        font-weight: 600;
    }
}

.nav-links:has(.nav-link:nth-of-type(2):last-of-type)#mobile-nav-links {
    display: inline-block;

    &>.nav-link:not(:first-of-type) {
        margin-left: 30px;
    }
}


#mobile-nav-links {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 auto;
    overflow-x: auto;
    white-space: nowrap;
}

#middle-table-nav-links {
    display: none;
}

#middle-table-more-btn {
    display: none;
}

.sidebar {
    background-color: rgb(250, 246, 242);
}

@media screen and (min-width: 768px) {
    #mobile-nav-links {
        display: none;
    }

    .nav-links:has(.nav-link:nth-of-type(2):last-of-type)#mobile-nav-links {
        display: none;
    }

    .nav-links:has(.nav-link:nth-of-type(2):last-of-type)#middle-table-nav-links {
        display: inline-block;

        &>.nav-link:not(:first-of-type) {
            margin-left: 30px;
        }
    }

    #middle-table-nav-links {
        display: inline-flex;
        justify-content: space-between;
        width: auto;
        flex: 1 1 auto;
        overflow-x: auto;
        white-space: nowrap;
        border-left: 2px solid skyblue;
        margin-left: 3px;
        padding-left: 5px;
    }

    #mobile-more-btn {
        display: none;
    }

    #middle-table-more-btn {
        display: inline;
    }

    #menu-toggle {
        display: none;
    }

    #sidebar {
        width: 20%;
        box-shadow: none;
        position: fixed;
        top: 51px;
        left: 0px;
        z-index: 0;
        font-size: 14px;
        padding: 10px;
        & > #close-mobile-sidebar {
            display: none;
        }
    }

    .page {
        margin-left: 20%;
    }
}